@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --ContrasteDiscreto: rgb(163, 163, 163);
  --Institucional1: #002e5f;
  --Institucional2: #c79316;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat";
  background-color: white;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  padding: 0 16px;
}

header > div > button {
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  border: none;
}

nav {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
  height: 70px;
  /* border-radius: 15px 15px 0 0; */
  border-top: 1px solid rgba(235, 235, 235, 1);
  /* border: rgba(235,235,235,1); */
}

nav > button {
  background-color: transparent;
  color: var(--ContrasteDiscreto);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  max-width: 45px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease 0s;
}

nav > button:active {
  color: var(--Institucional2);
}

nav > button > span {
  font-size: 0.6em;
}

#Titulo {
  color: whitesmoke;
  font-weight: bold;
}

#HeadDiv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#HeadDiv2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

main {
  float: left;
  margin-top: 50px;
  margin-bottom: 15px;
  min-height: calc(100vh - 70px);
  width: 100vw;
  /* overflow: hidden; */
  overflow-x: hidden;
  position: relative;
}

h1 {
  margin: 0;
}

.Titulo {
  width: 100%;
  /* background-color: red; */
  padding: 1% 0%;
  border-radius: 5px;
  background-color: white;
}

.Titulo > h5 > i {
  /* color: var(--Institucional1); */
  padding: 5px;
}

h5 {
  text-align: left;
  width: 100%;
  margin: 0;
  /* margin-top: 15px; */
}

.carrusel {
  width: 600vw;
  left: 0px;
  position: absolute;
  z-index: 0;
}

.pagina {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  float: left;
  min-height: calc(100vh - 50px - 70px);
  width: 100%;
  max-width: calc(100vw - 0px);
  padding: 10px 15px;
  /* margin-right: 5px; */
  /* width: 195px; */
  text-align: center;
}

#SinConexion {
  position: fixed;
  z-index: 899;
  width: 100%;
  height: calc(100vh - 30px - 70px);
  background-color: rgb(243, 244, 248);
  display: flex;
  justify-content: center;

  display: none;
}

#Info {
  position: fixed;
  width: 100%;
  height: calc(100vh - 30px - 70px);
  display: flex;
  justify-content: center;
}

#SinConexion > div,
#Info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 70%;
  color: var(--ContrasteDiscreto);
  padding-bottom: 150px;
}

#SinConexion > div > img,
#Info > div > img {
  width: 100%;
}

#Info > div > button {
  background-color: var(--Institucional1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

#pagina_3 > div,
#pagina_4 > div {
  display: flex;
  width: 100%;
}

#pagina_3 > div > button,
#pagina_4 > div > button {
  background-color: transparent;
  border: none;
  /* margin-top: 15px; */
}

.ContenedorPag {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 100%;
  height: calc(100vh - 40px - 25px - 28px - 15px - 20px - 25px - 25px);
  /* background-color: darkblue; */
}

#ContenedorDirec,
#ContenedorTramites {
  gap: 5px;
}

#ContenedorNoti {
  height: calc(100vh - 14vh);
}

.ElemLista {
  box-shadow: 0px 1px 5px 1px rgba(235, 235, 235, 1);
  width: 97%;
}

.ElemLista > div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px 10px 15px;
  background-color: white;
  border-radius: 5px;
}

.ElemLista > div > img {
  height: 40px;
  border-radius: 15%;
}

#Busqueda {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  position: absolute;
  left: calc(200vw + 20px);
  right: calc(300vw + 20px);
  /* margin-top: 15px; */
  height: 28px;
  background-color: white;
  padding-left: 10px;

  transition: all 0.3s ease 0s;
}

#Busqueda > input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--Institucional2);
}

#Busqueda > button {
  background-color: transparent;
  border: none;
}

.Oculto {
  opacity: 0;
  pointer-events: none;
}

.container-carr{
  width: 100%;
  height: 100%;
}

#carouselExampleIndicators {
  height: 100%;
}

.carousel-indicators > button {
  background-color: var(--ContrasteDiscreto) !important;
}

/* .embed-responsive-16by9 > span,  .embed-responsive-16by9 > span > iframe{
  width: 340px !important;
} */