@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Montserrat&family=Raleway:wght@300&display=swap');

:root {
  --Titulos: #136BAE;
  --Gris-Alt: #00000080;
  --ColorPrincipal1: #136BAE;
  --ColorPrincipal2: #009FBD;
  --DegIconUI: linear-gradient(to top, #136BAE, #009FBD);
  --Divisiones: #d0d0d0;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UI-Icon1 {
  background: var(--DegIconUI);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0;
}

h1 {
  color: var(--Titulos);
  font-size: 16px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  color: var(--Titulos);
  font-size: 14px;
}

h3 {
  color: var(--Gris-Alt);
  font-size: 13px;
  margin-bottom: 14px;
  font-weight: lighter;
}

h4 {
  color: var(--ColorPrincipal2);
  font-size: 13px;
}

.content {
  width: calc(100vw - 20px);
  padding: 0 10px;
  margin-top: 55px;
}

.box {
  width: auto;
  height: auto;
  margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  border: var(--Divisiones) solid 1px;
}

.advice {
  font-size: 13px;
}

.heroIl {
  height: 50vh;
  width: 100%;
}