nav {
    padding: 0 30px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--Divisiones);
    z-index: 999;
    background-color: white;
}

button {
    background: none;
    border: none;
    padding: 0;
    color: var(--Gris-Alt);
    font-size: 1.2em;
}