header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20px);
    height: 45px;
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid var(--Divisiones);
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 999;
}

header > img {
    max-height: 25px;
}